aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17.2
analytics-python==1.4.0
anyio==3.6.1
asgiref==3.5.1
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.6.0
backoff==1.10.0
bcrypt==3.2.2
beautifulsoup4==4.11.1
bitrix==0.0.3
bitrix24-python-sdk==1.0.1
buildozer==1.3.0
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
cloudscraper==1.2.60
colorama==0.4.4
cryptography==37.0.2
cycler==0.11.0
distlib==0.3.4
Django==4.0.4
docopt==0.6.2
fastapi==0.78.0
ffmpy==0.3.0
filelock==3.6.0
Flask==2.1.2
fonttools==4.33.3
frozenlist==1.3.0
future==0.18.2
google==3.0.0
google-api-core==2.8.2
google-api-python-client==2.54.0
google-auth==2.9.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.4
gradio==3.0.11
h11==0.13.0
httplib2==0.20.4
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
Js2Py==0.71
kiwisolver==1.4.2
linkify-it-py==1.0.3
lxml==4.8.0
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.5.2
mcpi==1.2.1
mcpi-e==0.3.2006.2
mdit-py-plugins==0.3.0
mdurl==0.1.1
minecraft==0.1.2
monotonic==1.6
multidict==6.0.2
multidimensional-urlencode==0.0.4
numpy==1.22.3
oauth2client==4.1.3
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
orjson==3.7.1
outcome==1.1.0
packaging==21.3
Panda3D==1.10.11
panda3d-gltf==0.13
panda3d-simplepbr==0.10
pandas==1.4.2
paramiko==2.11.0
pefile==2022.5.30
pexpect==4.8.0
Pillow==9.1.0
pipwin==0.5.2
platformdirs==2.5.2
protobuf==4.21.2
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio @ file:///C:/Users/Komil/pipwin/PyAudio-0.2.11-cp310-cp310-win_amd64.whl
pycodestyle==2.8.0
pycparser==2.21
pycryptodome==3.14.1
pydantic==1.9.1
PyDrive==1.3.1
pydub==0.25.1
pygame==2.1.2
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pyjsparser==2.7.1
PyNaCl==1.5.0
pyOpenSSL==22.0.0
pyparsing==3.0.8
pyperclip==1.8.2
PyPrind==2.11.3
pySmartDL==1.3.4
PySocks==1.7.1
python-aternos==1.0.1
python-dateutil==2.8.2
python-multipart==0.0.5
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyvirtualcam==0.9.1
pywin32-ctypes==0.2.0
PyYAML==6.0
regex==2022.4.24
requests==2.27.1
requests-toolbelt==0.9.1
rsa==4.8
scipy==1.8.1
screeninfo==0.8
selenium==4.1.5
sh==1.14.2
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
sqlparse==0.4.2
starlette==0.19.1
toml==0.10.2
trio==0.20.0
trio-websocket==0.9.2
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
uc-micro-py==1.0.1
uritemplate==4.1.1
urllib3==1.26.9
ursina==4.1.1
uvicorn==0.17.6
virtualenv==20.14.1
Wand==0.6.7
websockets==10.3
Werkzeug==2.1.2
wsproto==1.1.0
yarl==1.7.2
